server:
  port: 8084

spring:
  application:
    name: urban-events-service
  datasource:
    url: jdbc:h2:mem:urbaneventsdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: password
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true  # Autoriser les connexions distantes
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
  graphql:
    graphiql:
      enabled: true
      path: /graphiql
    schema:
      printer:
        enabled: true

logging:
  level:
    com.smartcity.urbanevents: DEBUG
    org.springframework.graphql: DEBUG