server:
  port: 8083

spring:
  application:
    name: emergency-service
  datasource:
    url: jdbc:h2:mem:emergencydb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always

# Configuration gRPC
grpc:
  server:
    port: 9090

logging:
  level:
    com.smartcity.emergency: DEBUG
    org.hibernate.SQL: DEBUG